
// СЕКЦИЯ ГЕРОЙ===================================================
@mixin hero__title() {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
}
@mixin hero__button() {
    line-height: 1.88;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    font-family: inherit;
}
// РЕШЕНИЯ ДЛЯ БИЗНЕСА===================================================
@mixin business__title() {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
@mixin business__text() {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
// ЧЕМ МЫ ЗАНИМАЕМСЯ===================================================
@mixin activities__text() {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
// НАША КОМАНДА===================================================
@mixin team__name() {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2;
}
@mixin team__role() {
    letter-spacing: 0.03em;
    line-height: 1.2;
}


