@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin section__title() {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-align: center;
}
$font-logo: 'Raleway', sans-serif;
