.section {
  padding: 60px 0 60px 0;
  @media screen and (min-width: $tablet) {
    padding: 60px 0 60px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 94px 0 94px 0;
  }
}

.section__title {
  padding: 0;
  margin: 0 0 50px 0;

  @include section__title();

  color: $title-text-color;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  padding: 0 15px;

  @media screen and (min-width: $tablet) {
    max-width: 738px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1170px;
  }
}
