/* ЧЕМ МЫ ЗАНИМАЕМСЯ====================================== */
.activities {
  padding-top: 0;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}
.activities__list {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0;
  gap: 30px;
  img {
    max-width: 100%;
  }
}

.activities__descriprion {
  position: relative;
}
.activities__text {
  position: absolute;
  padding: 27px 0;
  bottom: 0;
  width: 100%;

  @include font(700, 14px, 1.1, 0.03em);
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
  color: $primary-white-color;
}
